     <center ng-app="">
            <p>Verba disponível : R$<input type="text" ng-model="orcamento" class="money" name="verba"></input></p>
            <p></p>
               Prazo:<input type="number" name="prazo" ng-model="prazo" ></input>
               <select name="tipoPrazo" ng-model="tipoPrazo">
                  <option value="40" >Semana(s)</option>
                  <option value="8">Dia(s)</option>
                  <option value="160">Mes(s)</option>
                  <option value="1920">Ano(s)</option>
               </select>
               <br></br>
               <input type="submit" value="Enviar proposta" class="btn btn-success">
            </form>
      
      </center>

      