<!DOCTYPE html>
<html lang="pt">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Paulo Sérgio Duff - Orçamento</title>
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <style>
         body {
         padding-top: 54px;
         }
         @media (min-width: 992px) {
         body {
         padding-top: 56px;
         }
         }
      </style>
      <style type="text/css">
         .botoes{
         clear: both;
         }
      </style>
   </head>
   <body >
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
         <div class="container">
            <a class="navbar-brand" href="../index.html">Paulo Sérgio Duff - Início</a>
            <input type="button"  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="../index.html">Início
                     <span class="sr-only">(current)</span>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="../artigos.html">Artigos</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="../contato.html">Contato</a>
                  </li>
                  
               </ul>
            </div>
         </div>
      </nav>
      <!-- Page Content -->
      <div class="container">
         <div class="row">
            <div class="col-lg-12 text-center" >
               <hr>
               <div id="legenda">
                  <h1>Faça um orçamento para criação de seu site, aplicativo ou sistema, clicando em avançar:</h1>
               </div>
               <section id="objeto0" style="display: none;">
                  <hr>
                  <br>

                 <center>
                  <form action="http://seguregitproject.getenjoyment.net/work/cadastrar.php" method="POST" name="formMain">
                 	 <table  cellpadding="24">
               		<tr>
               			<td><input type="button"  type="button" class="btn btn-primary" onclick="escolheTipoDeProjeto('Site');" value="Eu quero um site"></td>
               			<td><input type="button"  type="button" class="btn btn-success" onclick="escolheTipoDeProjeto('Aplicativo');" value="Eu quero um aplicativo"></td>
               			<td><input type="button"  type="button" class="btn btn-secondary" onclick="escolheTipoDeProjeto('Sistema');" value="Eu quero um sistema"></td>
               		</tr>
               		
               	</table>
                 </center>
                 			<div id="recebeEscolha">
                       
                       <input type="text" value="site" name="projeto" id="projeto" style="display: none;">    
                        </div>

                        <div id="consoleEscolhaProjeto"></div>
                        
                                 </section>
               <section id="objeto1" style="display: none;"> <br>

                  <textarea name="descricao" cols="70" rows="4" placeholder="Digite aqui detalhes do seu projeto"></textarea>
               </section>
               <section id="objeto2" style="display: none;">
                    <center ng-app="">
            <p>Limite de verba: (<b>Não é o orçamento do projeto</b> <a href="javascript:explica();">Clique aqui e saiba mais</a>)
               <br> R$<input type="text" ng-model="orcamento" class="money" name="verba" required="required"></input></p>
            <p></p>
               Prazo:<input type="number" name="prazo" ng-model="prazo" ></input>
               <select name="tipoPrazo" ng-model="tipoPrazo">
                  <option value="40" >Semana(s)</option>
                  <option value="8">Dia(s)</option>
                  <option value="160">Mes(s)</option>
                  <option value="1920">Ano(s)</option>
               </select>
               <hr>
               E-mail de contato: <input type="email" name="email" required="required">
               <hr>
               <hr>
         <input type="submit" class="btn btn-success" value="Enviar proposta">
               <br></br>


               
            
      
      </center>
               </section>
               <section id="objeto3" style="display: none;">
                  <hr>
                  
                  <hr>
               </section>

</form>

               <center>
                  <table>
                     <tr>
                        <td onclick="insereLegenda();"><input type="button"  id="fadeIn" class="btn btn-success" style="margin: 20px;" value="Avançar"></td>
                        <td onclick="voltaMensagem();"><input type="button"  id="fadeOut" class="btn btn-danger" value="Voltar"></td>
                     </tr>
                  </table>
               </center>
               <script type="text/javascript" src="lib/fadeAvancar/appFade.js"></script>
               <div id="home">
               </div>
            </div>
         </div>
      </div>

      <div id="note" style="border-style: solid; border-color: #ffcc80; background-color: #fdfbb7; height: auto; width: 300px; top: 15%; left: 50%; position: fixed; display: none;">
        <p align="justify">
           <b>Limite de verba</b> é o quanto sua empresa, ou você tem limite para gastar no seu projeto. Se seu projeto tem o limite de R$10,00 e o custo do site é de R$100,00, sua proposta é reprovada. Da mesma forma, se seu projeto tem o limite de R$200,00 e o custo do site é de R$100,00 sua proposta é aprovada. O custo de projeto é calculado pelo número de horas trabalhadas e sua complexidade. Não existe <b>"negociação"</b> nesse caso, pois já se trabalha com valores compatíveis com o mercado.
        </p>


         <center><a href="javascript:fechaNote();">Fechar explicação</a></center>
      </div>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script type="text/javascript">

         function explica(){
            document.getElementById('note').style.display = 'inline' ;
         }

         function fechaNote(){
            document.getElementById('note').style.display = 'none' ;
         }
        
         
         var mensagens = ["<h1>1) Selecione o tipo de projeto que precisa (Aplicativo, site ou sistema)</h1>", "<h1>2) Faça uma breve descrição do seu projeto (do que precisa, do que deseja nele, como serão os detalhes)</h1>",
         	"<h1>3) Coloque detalhes sobre verba disponível e prazos</h1>",
         	"<h1>4) Informe seu e-mail de contato e clique em enviar proposta!</h1>"
         ];
         
         
         var extrangeira = avancar; // Informa o desenvolvedor da manutenção, que a variável é de outro arquivo. Arquivo: lib/fadeAvancar/appFade.js
         
         function insereLegenda(){
            decideBotaoAvancar();
         	document.getElementById('legenda').innerHTML = mensagens[extrangeira];
         	if (extrangeira < 3) {
         		extrangeira++;
         	}

           
         }
         
         function voltaMensagem(){
            decideBotaoAvancar(); 
         	if (extrangeira > 0 ) {
         		extrangeira--;
         	}
         	document.getElementById('legenda').innerHTML = mensagens[extrangeira];
                              	
         }

         function decideBotaoAvancar(){
             
             if (extrangeira >= 3) {
                document.getElementById('fadeIn').style.display = 'none' ;
            }
               else
               {
                  document.getElementById('fadeIn').style.display = 'inline' ;
               }
         }

         function escolheTipoDeProjeto($tipoProjeto){
         	//alert(document.getElementById('projeto').value);
            document.getElementById('projeto').value = $tipoProjeto;
           // alert(document.getElementById('projeto').value);
           document.getElementById('consoleEscolhaProjeto').innerHTML = "Você escolheu: <b>"+$tipoProjeto+"</b> Clique em avançar!";

         }
      </script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="lib/jquery.mask.min.js"></script>

<script type="text/javascript">

   // Sempre coloque este script apos o input e após as dependencias, e as dependencias antes
   // Coloque a classe de sua input como "money"
      $(document).ready(function(){
   $('.money').mask('000.000.00', {reverse: true});
   $('.hora').mask('000.000.00', {reverse: true});
  
  $(".money").change(function(){
    $("#value").html($(this).val().replace(/\D/g,''))
  })
  
});
</script>


   </body>
</html>

